# Error Handling

In [1]:
a

NameError: name 'a' is not defined

In [2]:
1/0

ZeroDivisionError: division by zero

In [ ]:
1 + 'a'

In [3]:
if True print('a')

SyntaxError: invalid syntax (<ipython-input-3-19321a870d74>, line 1)

In [4]:
# Syntax

try:
    pass
except:
    pass

In [5]:
try:
    print(1/0)
except ZeroDivisionError:
    print(f"can't divide by zero")

can't divide by zero

In [6]:
try:
    print(1/0)
except ZeroDivisionError as error:
    print(f"can't divide by zero due this --> {error}")

can't divide by zero due this --> division by zero

In [7]:
import ana

ModuleNotFoundError: No module named 'ana'

In [8]:
try:
    import ana
except:
    print("Okay")

Okay

In [9]:
import unittest

In [10]:
def add(x, y):
    return x+y

In [11]:
class TestAdd(unittest.TestCase):

    def test_add(self):
        self.assertEqual(add(4, 5), 9)
        self.assertEqual(add(3, 3), 6)

In [12]:
a = TestAdd()

In [13]:
a

In [14]:
a.test_add()

## Pandas and numpy

In [15]:
import numpy as np

In [16]:
a = [2, 4, 6]

In [17]:
[i*2 for i in a]

[4, 8, 12]

In [18]:
a*2

[2, 4, 6, 2, 4, 6]

In [19]:
%%time
l = [i*2 for i in range(1, 1000000)]

CPU times: user 79.6 ms, sys: 19.9 ms, total: 99.5 ms
Wall time: 98.1 ms

In [22]:
arr = list(range(1, 1000000))

In [24]:
np_array = np.array(arr)

In [25]:
np_array

array([     1,      2,      3, ..., 999997, 999998, 999999])

In [26]:
ar = np.arange(1, 1000000)

In [27]:
ar

array([     1,      2,      3, ..., 999997, 999998, 999999])

In [28]:
ar

array([     1,      2,      3, ..., 999997, 999998, 999999])

In [30]:
%%time
ar*2

CPU times: user 5.23 ms, sys: 165 Âµs, total: 5.4 ms
Wall time: 7.74 ms

array([      2,       4,       6, ..., 1999994, 1999996, 1999998])

In [32]:
max([1, 2, 4])

4

In [34]:
max(ar)

999999

In [35]:
a = [2, 3, 44, 5]

In [36]:
arr = np.array(a)

In [37]:
arr.mean()

13.5

In [38]:
arr.max()

44

In [39]:
arr.argmax()

2

In [40]:
arr.argmin()

0

In [43]:
np.median(arr)

4.0

In [45]:
a = np.random.rand(1, 100)

In [46]:
a.ndim

2

In [47]:
a

array([[0.55416813, 0.10611117, 0.77187265, 0.33699798, 0.73159472,
        0.34300516, 0.62487821, 0.96049355, 0.86549031, 0.61128346,
        0.52115159, 0.18829946, 0.74644067, 0.67127798, 0.03705504,
        0.89176032, 0.78820657, 0.5746785 , 0.03717476, 0.09547365,
        0.88941537, 0.1507207 , 0.1048959 , 0.77865722, 0.50090583,
        0.50011691, 0.56210632, 0.31115887, 0.48051672, 0.24686511,
        0.00293385, 0.27793381, 0.97664903, 0.08107283, 0.21955217,
        0.29274122, 0.72080581, 0.62570544, 0.31926367, 0.72752344,
        0.84685747, 0.50905147, 0.45588042, 0.19070838, 0.87817433,
        0.23892771, 0.68043923, 0.23868463, 0.16256856, 0.89029504,
        0.98049297, 0.96025424, 0.0754703 , 0.70859318, 0.79939937,
        0.21951593, 0.525239  , 0.74699663, 0.994233  , 0.16116048,
        0.83447382, 0.5041716 , 0.95347721, 0.53706291, 0.34978711,
        0.72194258, 0.16397206, 0.2456201 , 0.16663958, 0.66807017,
        0.85598593, 0.04177402, 0.99132818, 0.13003948, 0.08205426,
        0.338301  , 0.08853297, 0.16902557, 0.64548098, 0.64268252,
        0.849006  , 0.17736316, 0.06549022, 0.70870345, 0.58100829,
        0.48895523, 0.5945105 , 0.3343895 , 0.06282046, 0.08837666,
        0.35455826, 0.86276433, 0.78002667, 0.86271076, 0.73448846,
        0.28051848, 0.96232668, 0.26297927, 0.87317938, 0.28655818]])

In [49]:
a[0].ndim

1

In [50]:
a.flatten()

array([0.55416813, 0.10611117, 0.77187265, 0.33699798, 0.73159472,
       0.34300516, 0.62487821, 0.96049355, 0.86549031, 0.61128346,
       0.52115159, 0.18829946, 0.74644067, 0.67127798, 0.03705504,
       0.89176032, 0.78820657, 0.5746785 , 0.03717476, 0.09547365,
       0.88941537, 0.1507207 , 0.1048959 , 0.77865722, 0.50090583,
       0.50011691, 0.56210632, 0.31115887, 0.48051672, 0.24686511,
       0.00293385, 0.27793381, 0.97664903, 0.08107283, 0.21955217,
       0.29274122, 0.72080581, 0.62570544, 0.31926367, 0.72752344,
       0.84685747, 0.50905147, 0.45588042, 0.19070838, 0.87817433,
       0.23892771, 0.68043923, 0.23868463, 0.16256856, 0.89029504,
       0.98049297, 0.96025424, 0.0754703 , 0.70859318, 0.79939937,
       0.21951593, 0.525239  , 0.74699663, 0.994233  , 0.16116048,
       0.83447382, 0.5041716 , 0.95347721, 0.53706291, 0.34978711,
       0.72194258, 0.16397206, 0.2456201 , 0.16663958, 0.66807017,
       0.85598593, 0.04177402, 0.99132818, 0.13003948, 0.08205426,
       0.338301  , 0.08853297, 0.16902557, 0.64548098, 0.64268252,
       0.849006  , 0.17736316, 0.06549022, 0.70870345, 0.58100829,
       0.48895523, 0.5945105 , 0.3343895 , 0.06282046, 0.08837666,
       0.35455826, 0.86276433, 0.78002667, 0.86271076, 0.73448846,
       0.28051848, 0.96232668, 0.26297927, 0.87317938, 0.28655818])

In [59]:
l = np.random.randint(3, 6, size=(3, 3))

In [60]:
l

array([[4, 3, 4],
       [3, 4, 3],
       [5, 5, 4]])

In [61]:
l.ndim

2

In [62]:
l.flatten()

array([4, 3, 4, 3, 4, 3, 5, 5, 4])

In [63]:
l.flatten().ndim

1

In [64]:
l.shape

(3, 3)

In [66]:
np.random.randn(5, 5)

array([[-0.9327229 ,  0.0182198 , -0.67321354,  1.68785636,  0.24140028],
       [-0.19402157,  1.46163922, -0.34970583,  0.57237365,  0.0796969 ],
       [-1.14129143,  0.83908791, -0.44843591, -1.11058162, -0.55621207],
       [ 0.46163263, -0.86327635, -0.49836994,  0.71159226, -0.08502439],
       [ 1.67774593,  0.27417064, -0.28140904, -1.26993539,  0.5258179 ]])

In [67]:
np.cos(40)

-0.6669380616522619

In [68]:
np.cos??

In [69]:
np.linspace(-3, 3, 1000)

array([-3.        , -2.99399399, -2.98798799, -2.98198198, -2.97597598,
       -2.96996997, -2.96396396, -2.95795796, -2.95195195, -2.94594595,
       -2.93993994, -2.93393393, -2.92792793, -2.92192192, -2.91591592,
       -2.90990991, -2.9039039 , -2.8978979 , -2.89189189, -2.88588589,
       -2.87987988, -2.87387387, -2.86786787, -2.86186186, -2.85585586,
       -2.84984985, -2.84384384, -2.83783784, -2.83183183, -2.82582583,
       -2.81981982, -2.81381381, -2.80780781, -2.8018018 , -2.7957958 ,
       -2.78978979, -2.78378378, -2.77777778, -2.77177177, -2.76576577,
       -2.75975976, -2.75375375, -2.74774775, -2.74174174, -2.73573574,
       -2.72972973, -2.72372372, -2.71771772, -2.71171171, -2.70570571,
       -2.6996997 , -2.69369369, -2.68768769, -2.68168168, -2.67567568,
       -2.66966967, -2.66366366, -2.65765766, -2.65165165, -2.64564565,
       -2.63963964, -2.63363363, -2.62762763, -2.62162162, -2.61561562,
       -2.60960961, -2.6036036 , -2.5975976 , -2.59159159, -2.58558559,
       -2.57957958, -2.57357357, -2.56756757, -2.56156156, -2.55555556,
       -2.54954955, -2.54354354, -2.53753754, -2.53153153, -2.52552553,
       -2.51951952, -2.51351351, -2.50750751, -2.5015015 , -2.4954955 ,
       -2.48948949, -2.48348348, -2.47747748, -2.47147147, -2.46546547,
       -2.45945946, -2.45345345, -2.44744745, -2.44144144, -2.43543544,
       -2.42942943, -2.42342342, -2.41741742, -2.41141141, -2.40540541,
       -2.3993994 , -2.39339339, -2.38738739, -2.38138138, -2.37537538,
       -2.36936937, -2.36336336, -2.35735736, -2.35135135, -2.34534535,
       -2.33933934, -2.33333333, -2.32732733, -2.32132132, -2.31531532,
       -2.30930931, -2.3033033 , -2.2972973 , -2.29129129, -2.28528529,
       -2.27927928, -2.27327327, -2.26726727, -2.26126126, -2.25525526,
       -2.24924925, -2.24324324, -2.23723724, -2.23123123, -2.22522523,
       -2.21921922, -2.21321321, -2.20720721, -2.2012012 , -2.1951952 ,
       -2.18918919, -2.18318318, -2.17717718, -2.17117117, -2.16516517,
       -2.15915916, -2.15315315, -2.14714715, -2.14114114, -2.13513514,
       -2.12912913, -2.12312312, -2.11711712, -2.11111111, -2.10510511,
       -2.0990991 , -2.09309309, -2.08708709, -2.08108108, -2.07507508,
       -2.06906907, -2.06306306, -2.05705706, -2.05105105, -2.04504505,
       -2.03903904, -2.03303303, -2.02702703, -2.02102102, -2.01501502,
       -2.00900901, -2.003003  , -1.996997  , -1.99099099, -1.98498498,
       -1.97897898, -1.97297297, -1.96696697, -1.96096096, -1.95495495,
       -1.94894895, -1.94294294, -1.93693694, -1.93093093, -1.92492492,
       -1.91891892, -1.91291291, -1.90690691, -1.9009009 , -1.89489489,
       -1.88888889, -1.88288288, -1.87687688, -1.87087087, -1.86486486,
       -1.85885886, -1.85285285, -1.84684685, -1.84084084, -1.83483483,
       -1.82882883, -1.82282282, -1.81681682, -1.81081081, -1.8048048 ,
       -1.7987988 , -1.79279279, -1.78678679, -1.78078078, -1.77477477,
       -1.76876877, -1.76276276, -1.75675676, -1.75075075, -1.74474474,
       -1.73873874, -1.73273273, -1.72672673, -1.72072072, -1.71471471,
       -1.70870871, -1.7027027 , -1.6966967 , -1.69069069, -1.68468468,
       -1.67867868, -1.67267267, -1.66666667, -1.66066066, -1.65465465,
       -1.64864865, -1.64264264, -1.63663664, -1.63063063, -1.62462462,
       -1.61861862, -1.61261261, -1.60660661, -1.6006006 , -1.59459459,
       -1.58858859, -1.58258258, -1.57657658, -1.57057057, -1.56456456,
       -1.55855856, -1.55255255, -1.54654655, -1.54054054, -1.53453453,
       -1.52852853, -1.52252252, -1.51651652, -1.51051051, -1.5045045 ,
       -1.4984985 , -1.49249249, -1.48648649, -1.48048048, -1.47447447,
       -1.46846847, -1.46246246, -1.45645646, -1.45045045, -1.44444444,
       -1.43843844, -1.43243243, -1.42642643, -1.42042042, -1.41441441,
       -1.40840841, -1.4024024 , -1.3963964 , -1.39039039, -1.38438438,
       -1.37837838, -1.37237237, -1.36636637, -1.36036036, -1.35435435,
       -1.34834835, -1.34234234, -1.33633634, -1.33033033, -1.32432432,
       -1.31831832, -1.31231231, -1.30630631, -1.3003003 , -1.29429429,
       -1.28828829, -1.28228228, -1.27627628, -1.27027027, -1.26426426,
       -1.25825826, -1.25225225, -1.24624625, -1.24024024, -1.23423423,
       -1.22822823, -1.22222222, -1.21621622, -1.21021021, -1.2042042 ,
       -1.1981982 , -1.19219219, -1.18618619, -1.18018018, -1.17417417,
       -1.16816817, -1.16216216, -1.15615616, -1.15015015, -1.14414414,
       -1.13813814, -1.13213213, -1.12612613, -1.12012012, -1.11411411,
       -1.10810811, -1.1021021 , -1.0960961 , -1.09009009, -1.08408408,
       -1.07807808, -1.07207207, -1.06606607, -1.06006006, -1.05405405,
       -1.04804805, -1.04204204, -1.03603604, -1.03003003, -1.02402402,
       -1.01801802, -1.01201201, -1.00600601, -1.        , -0.99399399,
       -0.98798799, -0.98198198, -0.97597598, -0.96996997, -0.96396396,
       -0.95795796, -0.95195195, -0.94594595, -0.93993994, -0.93393393,
       -0.92792793, -0.92192192, -0.91591592, -0.90990991, -0.9039039 ,
       -0.8978979 , -0.89189189, -0.88588589, -0.87987988, -0.87387387,
       -0.86786787, -0.86186186, -0.85585586, -0.84984985, -0.84384384,
       -0.83783784, -0.83183183, -0.82582583, -0.81981982, -0.81381381,
       -0.80780781, -0.8018018 , -0.7957958 , -0.78978979, -0.78378378,
       -0.77777778, -0.77177177, -0.76576577, -0.75975976, -0.75375375,
       -0.74774775, -0.74174174, -0.73573574, -0.72972973, -0.72372372,
       -0.71771772, -0.71171171, -0.70570571, -0.6996997 , -0.69369369,
       -0.68768769, -0.68168168, -0.67567568, -0.66966967, -0.66366366,
       -0.65765766, -0.65165165, -0.64564565, -0.63963964, -0.63363363,
       -0.62762763, -0.62162162, -0.61561562, -0.60960961, -0.6036036 ,
       -0.5975976 , -0.59159159, -0.58558559, -0.57957958, -0.57357357,
       -0.56756757, -0.56156156, -0.55555556, -0.54954955, -0.54354354,
       -0.53753754, -0.53153153, -0.52552553, -0.51951952, -0.51351351,
       -0.50750751, -0.5015015 , -0.4954955 , -0.48948949, -0.48348348,
       -0.47747748, -0.47147147, -0.46546547, -0.45945946, -0.45345345,
       -0.44744745, -0.44144144, -0.43543544, -0.42942943, -0.42342342,
       -0.41741742, -0.41141141, -0.40540541, -0.3993994 , -0.39339339,
       -0.38738739, -0.38138138, -0.37537538, -0.36936937, -0.36336336,
       -0.35735736, -0.35135135, -0.34534535, -0.33933934, -0.33333333,
       -0.32732733, -0.32132132, -0.31531532, -0.30930931, -0.3033033 ,
       -0.2972973 , -0.29129129, -0.28528529, -0.27927928, -0.27327327,
       -0.26726727, -0.26126126, -0.25525526, -0.24924925, -0.24324324,
       -0.23723724, -0.23123123, -0.22522523, -0.21921922, -0.21321321,
       -0.20720721, -0.2012012 , -0.1951952 , -0.18918919, -0.18318318,
       -0.17717718, -0.17117117, -0.16516517, -0.15915916, -0.15315315,
       -0.14714715, -0.14114114, -0.13513514, -0.12912913, -0.12312312,
       -0.11711712, -0.11111111, -0.10510511, -0.0990991 , -0.09309309,
       -0.08708709, -0.08108108, -0.07507508, -0.06906907, -0.06306306,
       -0.05705706, -0.05105105, -0.04504505, -0.03903904, -0.03303303,
       -0.02702703, -0.02102102, -0.01501502, -0.00900901, -0.003003  ,
        0.003003  ,  0.00900901,  0.01501502,  0.02102102,  0.02702703,
        0.03303303,  0.03903904,  0.04504505,  0.05105105,  0.05705706,
        0.06306306,  0.06906907,  0.07507508,  0.08108108,  0.08708709,
        0.09309309,  0.0990991 ,  0.10510511,  0.11111111,  0.11711712,
        0.12312312,  0.12912913,  0.13513514,  0.14114114,  0.14714715,
        0.15315315,  0.15915916,  0.16516517,  0.17117117,  0.17717718,
        0.18318318,  0.18918919,  0.1951952 ,  0.2012012 ,  0.20720721,
        0.21321321,  0.21921922,  0.22522523,  0.23123123,  0.23723724,
        0.24324324,  0.24924925,  0.25525526,  0.26126126,  0.26726727,
        0.27327327,  0.27927928,  0.28528529,  0.29129129,  0.2972973 ,
        0.3033033 ,  0.30930931,  0.31531532,  0.32132132,  0.32732733,
        0.33333333,  0.33933934,  0.34534535,  0.35135135,  0.35735736,
        0.36336336,  0.36936937,  0.37537538,  0.38138138,  0.38738739,
        0.39339339,  0.3993994 ,  0.40540541,  0.41141141,  0.41741742,
        0.42342342,  0.42942943,  0.43543544,  0.44144144,  0.44744745,
        0.45345345,  0.45945946,  0.46546547,  0.47147147,  0.47747748,
        0.48348348,  0.48948949,  0.4954955 ,  0.5015015 ,  0.50750751,
        0.51351351,  0.51951952,  0.52552553,  0.53153153,  0.53753754,
        0.54354354,  0.54954955,  0.55555556,  0.56156156,  0.56756757,
        0.57357357,  0.57957958,  0.58558559,  0.59159159,  0.5975976 ,
        0.6036036 ,  0.60960961,  0.61561562,  0.62162162,  0.62762763,
        0.63363363,  0.63963964,  0.64564565,  0.65165165,  0.65765766,
        0.66366366,  0.66966967,  0.67567568,  0.68168168,  0.68768769,
        0.69369369,  0.6996997 ,  0.70570571,  0.71171171,  0.71771772,
        0.72372372,  0.72972973,  0.73573574,  0.74174174,  0.74774775,
        0.75375375,  0.75975976,  0.76576577,  0.77177177,  0.77777778,
        0.78378378,  0.78978979,  0.7957958 ,  0.8018018 ,  0.80780781,
        0.81381381,  0.81981982,  0.82582583,  0.83183183,  0.83783784,
        0.84384384,  0.84984985,  0.85585586,  0.86186186,  0.86786787,
        0.87387387,  0.87987988,  0.88588589,  0.89189189,  0.8978979 ,
        0.9039039 ,  0.90990991,  0.91591592,  0.92192192,  0.92792793,
        0.93393393,  0.93993994,  0.94594595,  0.95195195,  0.95795796,
        0.96396396,  0.96996997,  0.97597598,  0.98198198,  0.98798799,
        0.99399399,  1.        ,  1.00600601,  1.01201201,  1.01801802,
        1.02402402,  1.03003003,  1.03603604,  1.04204204,  1.04804805,
        1.05405405,  1.06006006,  1.06606607,  1.07207207,  1.07807808,
        1.08408408,  1.09009009,  1.0960961 ,  1.1021021 ,  1.10810811,
        1.11411411,  1.12012012,  1.12612613,  1.13213213,  1.13813814,
        1.14414414,  1.15015015,  1.15615616,  1.16216216,  1.16816817,
        1.17417417,  1.18018018,  1.18618619,  1.19219219,  1.1981982 ,
        1.2042042 ,  1.21021021,  1.21621622,  1.22222222,  1.22822823,
        1.23423423,  1.24024024,  1.24624625,  1.25225225,  1.25825826,
        1.26426426,  1.27027027,  1.27627628,  1.28228228,  1.28828829,
        1.29429429,  1.3003003 ,  1.30630631,  1.31231231,  1.31831832,
        1.32432432,  1.33033033,  1.33633634,  1.34234234,  1.34834835,
        1.35435435,  1.36036036,  1.36636637,  1.37237237,  1.37837838,
        1.38438438,  1.39039039,  1.3963964 ,  1.4024024 ,  1.40840841,
        1.41441441,  1.42042042,  1.42642643,  1.43243243,  1.43843844,
        1.44444444,  1.45045045,  1.45645646,  1.46246246,  1.46846847,
        1.47447447,  1.48048048,  1.48648649,  1.49249249,  1.4984985 ,
        1.5045045 ,  1.51051051,  1.51651652,  1.52252252,  1.52852853,
        1.53453453,  1.54054054,  1.54654655,  1.55255255,  1.55855856,
        1.56456456,  1.57057057,  1.57657658,  1.58258258,  1.58858859,
        1.59459459,  1.6006006 ,  1.60660661,  1.61261261,  1.61861862,
        1.62462462,  1.63063063,  1.63663664,  1.64264264,  1.64864865,
        1.65465465,  1.66066066,  1.66666667,  1.67267267,  1.67867868,
        1.68468468,  1.69069069,  1.6966967 ,  1.7027027 ,  1.70870871,
        1.71471471,  1.72072072,  1.72672673,  1.73273273,  1.73873874,
        1.74474474,  1.75075075,  1.75675676,  1.76276276,  1.76876877,
        1.77477477,  1.78078078,  1.78678679,  1.79279279,  1.7987988 ,
        1.8048048 ,  1.81081081,  1.81681682,  1.82282282,  1.82882883,
        1.83483483,  1.84084084,  1.84684685,  1.85285285,  1.85885886,
        1.86486486,  1.87087087,  1.87687688,  1.88288288,  1.88888889,
        1.89489489,  1.9009009 ,  1.90690691,  1.91291291,  1.91891892,
        1.92492492,  1.93093093,  1.93693694,  1.94294294,  1.94894895,
        1.95495495,  1.96096096,  1.96696697,  1.97297297,  1.97897898,
        1.98498498,  1.99099099,  1.996997  ,  2.003003  ,  2.00900901,
        2.01501502,  2.02102102,  2.02702703,  2.03303303,  2.03903904,
        2.04504505,  2.05105105,  2.05705706,  2.06306306,  2.06906907,
        2.07507508,  2.08108108,  2.08708709,  2.09309309,  2.0990991 ,
        2.10510511,  2.11111111,  2.11711712,  2.12312312,  2.12912913,
        2.13513514,  2.14114114,  2.14714715,  2.15315315,  2.15915916,
        2.16516517,  2.17117117,  2.17717718,  2.18318318,  2.18918919,
        2.1951952 ,  2.2012012 ,  2.20720721,  2.21321321,  2.21921922,
        2.22522523,  2.23123123,  2.23723724,  2.24324324,  2.24924925,
        2.25525526,  2.26126126,  2.26726727,  2.27327327,  2.27927928,
        2.28528529,  2.29129129,  2.2972973 ,  2.3033033 ,  2.30930931,
        2.31531532,  2.32132132,  2.32732733,  2.33333333,  2.33933934,
        2.34534535,  2.35135135,  2.35735736,  2.36336336,  2.36936937,
        2.37537538,  2.38138138,  2.38738739,  2.39339339,  2.3993994 ,
        2.40540541,  2.41141141,  2.41741742,  2.42342342,  2.42942943,
        2.43543544,  2.44144144,  2.44744745,  2.45345345,  2.45945946,
        2.46546547,  2.47147147,  2.47747748,  2.48348348,  2.48948949,
        2.4954955 ,  2.5015015 ,  2.50750751,  2.51351351,  2.51951952,
        2.52552553,  2.53153153,  2.53753754,  2.54354354,  2.54954955,
        2.55555556,  2.56156156,  2.56756757,  2.57357357,  2.57957958,
        2.58558559,  2.59159159,  2.5975976 ,  2.6036036 ,  2.60960961,
        2.61561562,  2.62162162,  2.62762763,  2.63363363,  2.63963964,
        2.64564565,  2.65165165,  2.65765766,  2.66366366,  2.66966967,
        2.67567568,  2.68168168,  2.68768769,  2.69369369,  2.6996997 ,
        2.70570571,  2.71171171,  2.71771772,  2.72372372,  2.72972973,
        2.73573574,  2.74174174,  2.74774775,  2.75375375,  2.75975976,
        2.76576577,  2.77177177,  2.77777778,  2.78378378,  2.78978979,
        2.7957958 ,  2.8018018 ,  2.80780781,  2.81381381,  2.81981982,
        2.82582583,  2.83183183,  2.83783784,  2.84384384,  2.84984985,
        2.85585586,  2.86186186,  2.86786787,  2.87387387,  2.87987988,
        2.88588589,  2.89189189,  2.8978979 ,  2.9039039 ,  2.90990991,
        2.91591592,  2.92192192,  2.92792793,  2.93393393,  2.93993994,
        2.94594595,  2.95195195,  2.95795796,  2.96396396,  2.96996997,
        2.97597598,  2.98198198,  2.98798799,  2.99399399,  3.        ])

In [70]:
import pandas as pd

In [75]:
a = {
    'key1': list('abcdef'),
    'key2': list(range(6)),
    'key3': list('ABCDEF')
}

In [76]:
df = pd.DataFrame(a)

In [77]:
a

{'key1': ['a', 'b', 'c', 'd', 'e', 'f'],
 'key2': [0, 1, 2, 3, 4, 5],
 'key3': ['A', 'B', 'C', 'D', 'E', 'F']}

In [78]:
df

  key1  key2 key3
0    a     0    A
1    b     1    B
2    c     2    C
3    d     3    D
4    e     4    E
5    f     5    F

In [79]:
a['key1']

['a', 'b', 'c', 'd', 'e', 'f']

In [80]:
df['key1']

0    a
1    b
2    c
3    d
4    e
5    f
Name: key1, dtype: object

In [81]:
df['key2']

0    0
1    1
2    2
3    3
4    4
5    5
Name: key2, dtype: int64

In [82]:
arr = np.random.randn(100, 100)

In [86]:
np.eye(10, 10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [87]:
arr

array([[ 1.29628372,  0.60583609,  0.28628   , ...,  0.23734836,
        -1.5030094 , -0.27628795],
       [ 1.06597621,  1.08259602,  0.52336895, ...,  1.29374619,
         0.62554295,  0.10046377],
       [-0.26643797,  1.70505092, -0.04785583, ..., -1.26191642,
         1.32523823, -0.42854507],
       ...,
       [-0.74283663,  0.06889156,  0.21960693, ...,  0.58728265,
         0.44213068, -0.09103788],
       [ 0.53900221,  1.28200311, -1.02331776, ..., -0.04688747,
        -1.86775296,  0.00540184],
       [ 1.15126063,  0.47269605,  0.35698904, ...,  0.41484908,
        -0.22266306, -0.39631921]])

In [88]:
arr.shape

(100, 100)

In [89]:
arr.ndim

2

In [90]:
df = pd.DataFrame(arr)

In [91]:
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.296284,0.605836,0.286280,-1.603644,-0.933890,-0.245013,0.448170,-0.209419,0.289293,1.687889,...,1.085550,0.361362,2.478867,-0.176082,-0.078297,0.237853,1.527258,0.237348,-1.503009,-0.276288
1,1.065976,1.082596,0.523369,0.392860,2.169864,-0.933146,0.073333,1.354769,1.558516,1.389750,...,0.007539,-0.332405,-1.931087,0.381377,-0.596160,0.102534,-1.646820,1.293746,0.625543,0.100464
2,-0.266438,1.705051,-0.047856,0.775636,-1.565388,-2.116412,0.330345,-0.722211,2.317018,-1.122634,...,0.279575,-0.682577,0.940564,-1.108417,0.166644,-1.020592,-1.311756,-1.261916,1.325238,-0.428545
3,0.013052,-1.249195,0.055326,-1.010466,-1.184311,-0.356834,-0.336943,0.077229,-0.194452,0.048333,...,1.791631,-0.681331,-2.061388,0.474097,0.891958,-1.653039,-0.785182,-0.126184,-0.656143,-0.926092
4,0.689750,-0.880364,0.664037,-0.514244,1.033128,1.596760,0.193006,2.213407,0.814558,-0.561568,...,-0.023579,-0.963785,-0.737570,0.984158,1.852040,-0.010209,-0.089483,1.307647,0.499279,0.030032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.535555,0.535315,-0.316394,-1.345825,0.985646,-0.280841,1.692374,2.236995,0.305292,-0.048202,...,0.004992,-0.998164,-0.384085,-2.235665,-1.191961,1.266627,0.505866,-1.204067,-0.017088,-1.493089
96,-0.208874,0.503362,-0.994804,-1.141338,0.144400,-1.139310,-0.536875,1.049218,1.978938,-0.557667,...,-0.073395,-0.717267,0.750956,-1.429442,0.440364,0.827207,-1.527539,0.554133,-0.432447,-0.978240
97,-0.742837,0.068892,0.219607,-1.762436,0.192502,-0.084573,0.081371,-0.119534,1.060109,0.330919,...,1.211900,0.910360,-1.555058,0.149891,1.466277,0.115172,0.853162,0.587283,0.442131,-0.091038
98,0.539002,1.282003,-1.023318,1.905679,-0.839147,1.025434,-1.663809,1.280217,0.401399,2.902964,...,-0.748285,-0.963052,0.103504,0.311597,0.899014,0.099926,-0.548970,-0.046887,-1.867753,0.005402
99,1.151261,0.472696,0.356989,-0.468862,-0.296073,2.211698,0.407838,0.415483,0.958924,-0.164693,...,-0.708794,0.409151,-0.033786,0.035134,0.555811,-0.346093,-1.671665,0.414849,-0.222663,-0.396319

In [92]:
df[:5]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.296284,0.605836,0.286280,-1.603644,-0.933890,-0.245013,0.448170,-0.209419,0.289293,1.687889,...,1.085550,0.361362,2.478867,-0.176082,-0.078297,0.237853,1.527258,0.237348,-1.503009,-0.276288
1,1.065976,1.082596,0.523369,0.392860,2.169864,-0.933146,0.073333,1.354769,1.558516,1.389750,...,0.007539,-0.332405,-1.931087,0.381377,-0.596160,0.102534,-1.646820,1.293746,0.625543,0.100464
2,-0.266438,1.705051,-0.047856,0.775636,-1.565388,-2.116412,0.330345,-0.722211,2.317018,-1.122634,...,0.279575,-0.682577,0.940564,-1.108417,0.166644,-1.020592,-1.311756,-1.261916,1.325238,-0.428545
3,0.013052,-1.249195,0.055326,-1.010466,-1.184311,-0.356834,-0.336943,0.077229,-0.194452,0.048333,...,1.791631,-0.681331,-2.061388,0.474097,0.891958,-1.653039,-0.785182,-0.126184,-0.656143,-0.926092
4,0.689750,-0.880364,0.664037,-0.514244,1.033128,1.596760,0.193006,2.213407,0.814558,-0.561568,...,-0.023579,-0.963785,-0.737570,0.984158,1.852040,-0.010209,-0.089483,1.307647,0.499279,0.030032

In [95]:
df[-5:]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
95,0.535555,0.535315,-0.316394,-1.345825,0.985646,-0.280841,1.692374,2.236995,0.305292,-0.048202,...,0.004992,-0.998164,-0.384085,-2.235665,-1.191961,1.266627,0.505866,-1.204067,-0.017088,-1.493089
96,-0.208874,0.503362,-0.994804,-1.141338,0.144400,-1.139310,-0.536875,1.049218,1.978938,-0.557667,...,-0.073395,-0.717267,0.750956,-1.429442,0.440364,0.827207,-1.527539,0.554133,-0.432447,-0.978240
97,-0.742837,0.068892,0.219607,-1.762436,0.192502,-0.084573,0.081371,-0.119534,1.060109,0.330919,...,1.211900,0.910360,-1.555058,0.149891,1.466277,0.115172,0.853162,0.587283,0.442131,-0.091038
98,0.539002,1.282003,-1.023318,1.905679,-0.839147,1.025434,-1.663809,1.280217,0.401399,2.902964,...,-0.748285,-0.963052,0.103504,0.311597,0.899014,0.099926,-0.548970,-0.046887,-1.867753,0.005402
99,1.151261,0.472696,0.356989,-0.468862,-0.296073,2.211698,0.407838,0.415483,0.958924,-0.164693,...,-0.708794,0.409151,-0.033786,0.035134,0.555811,-0.346093,-1.671665,0.414849,-0.222663,-0.396319

In [96]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.296284,0.605836,0.286280,-1.603644,-0.933890,-0.245013,0.448170,-0.209419,0.289293,1.687889,...,1.085550,0.361362,2.478867,-0.176082,-0.078297,0.237853,1.527258,0.237348,-1.503009,-0.276288
1,1.065976,1.082596,0.523369,0.392860,2.169864,-0.933146,0.073333,1.354769,1.558516,1.389750,...,0.007539,-0.332405,-1.931087,0.381377,-0.596160,0.102534,-1.646820,1.293746,0.625543,0.100464
2,-0.266438,1.705051,-0.047856,0.775636,-1.565388,-2.116412,0.330345,-0.722211,2.317018,-1.122634,...,0.279575,-0.682577,0.940564,-1.108417,0.166644,-1.020592,-1.311756,-1.261916,1.325238,-0.428545
3,0.013052,-1.249195,0.055326,-1.010466,-1.184311,-0.356834,-0.336943,0.077229,-0.194452,0.048333,...,1.791631,-0.681331,-2.061388,0.474097,0.891958,-1.653039,-0.785182,-0.126184,-0.656143,-0.926092
4,0.689750,-0.880364,0.664037,-0.514244,1.033128,1.596760,0.193006,2.213407,0.814558,-0.561568,...,-0.023579,-0.963785,-0.737570,0.984158,1.852040,-0.010209,-0.089483,1.307647,0.499279,0.030032

In [97]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.296284,0.605836,0.286280,-1.603644,-0.933890,-0.245013,0.448170,-0.209419,0.289293,1.687889,...,1.085550,0.361362,2.478867,-0.176082,-0.078297,0.237853,1.527258,0.237348,-1.503009,-0.276288
1,1.065976,1.082596,0.523369,0.392860,2.169864,-0.933146,0.073333,1.354769,1.558516,1.389750,...,0.007539,-0.332405,-1.931087,0.381377,-0.596160,0.102534,-1.646820,1.293746,0.625543,0.100464
2,-0.266438,1.705051,-0.047856,0.775636,-1.565388,-2.116412,0.330345,-0.722211,2.317018,-1.122634,...,0.279575,-0.682577,0.940564,-1.108417,0.166644,-1.020592,-1.311756,-1.261916,1.325238,-0.428545
3,0.013052,-1.249195,0.055326,-1.010466,-1.184311,-0.356834,-0.336943,0.077229,-0.194452,0.048333,...,1.791631,-0.681331,-2.061388,0.474097,0.891958,-1.653039,-0.785182,-0.126184,-0.656143,-0.926092
4,0.689750,-0.880364,0.664037,-0.514244,1.033128,1.596760,0.193006,2.213407,0.814558,-0.561568,...,-0.023579,-0.963785,-0.737570,0.984158,1.852040,-0.010209,-0.089483,1.307647,0.499279,0.030032
5,-1.008867,-0.857929,-0.116234,-3.069809,-0.483098,-1.442161,0.016852,-1.543806,0.140788,0.091351,...,0.851331,-0.182765,-0.679845,-2.011999,-0.920477,0.567726,0.653890,-0.172415,-0.474617,-2.690463
6,1.606758,-0.848071,0.474212,-0.899776,0.147134,1.403666,1.232940,0.146922,-0.058361,-0.708178,...,-0.286342,-0.513345,-1.686664,-0.471980,-0.361986,-0.644995,-0.123197,-0.065375,-0.214012,0.277685
7,1.588358,-0.926496,1.008237,0.036956,-1.492892,-0.599731,2.824315,-1.702827,-0.780084,1.076220,...,1.523778,-0.511955,0.221180,0.050096,0.184218,-1.579023,0.815629,-0.952175,0.653018,-0.982962
8,0.059154,-0.641031,1.806548,-0.230572,0.591997,0.483515,0.028741,-1.653015,2.319999,1.573562,...,1.133362,0.447362,-0.022945,0.388402,-0.807881,0.635353,1.274550,-0.268017,-0.436478,-2.501098
9,-1.031066,-0.162839,-0.483799,0.787264,0.461138,0.598508,-0.842000,-0.507701,-0.230474,0.990564,...,-0.629348,0.899026,0.897602,-0.882487,-0.028868,0.263726,0.024761,-0.157756,0.911498,0.404751

In [98]:
df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
90,0.477932,0.163731,0.993451,-1.795053,-0.741696,1.141408,0.355518,0.658016,-0.358020,-0.814197,...,-0.542122,-1.109562,0.012807,-1.076481,-0.343338,-0.918269,-1.139891,-0.292008,1.041788,-0.478553
91,-2.765682,0.127772,-0.089838,2.555683,-2.780739,-0.281038,-0.222094,0.764762,0.079041,-1.180081,...,-1.444890,-1.879220,0.172866,0.062851,0.656325,0.131990,-1.739561,-1.218281,0.761286,-0.585158
92,0.678806,0.338715,1.216825,-0.447565,-0.757012,-0.841774,-1.533123,0.316225,0.686373,0.649973,...,1.148693,0.273709,0.113395,-2.012517,0.389897,-1.214232,0.959385,0.691414,0.962048,0.516446
93,-1.632349,0.613383,-0.587851,0.467107,-0.387274,0.482249,-1.996139,0.597855,-0.922183,-0.597533,...,-0.863316,-0.164729,0.066904,0.206859,-0.052755,-0.042843,0.864783,1.639371,-0.185498,0.211867
94,-0.452214,1.963830,-0.068380,-0.537475,-0.983536,-1.350852,-0.932825,-0.426861,0.604727,1.543318,...,-0.394486,-0.361045,-0.569295,0.170614,-0.075238,-0.748397,0.982877,-0.405330,-0.959837,0.494697
95,0.535555,0.535315,-0.316394,-1.345825,0.985646,-0.280841,1.692374,2.236995,0.305292,-0.048202,...,0.004992,-0.998164,-0.384085,-2.235665,-1.191961,1.266627,0.505866,-1.204067,-0.017088,-1.493089
96,-0.208874,0.503362,-0.994804,-1.141338,0.144400,-1.139310,-0.536875,1.049218,1.978938,-0.557667,...,-0.073395,-0.717267,0.750956,-1.429442,0.440364,0.827207,-1.527539,0.554133,-0.432447,-0.978240
97,-0.742837,0.068892,0.219607,-1.762436,0.192502,-0.084573,0.081371,-0.119534,1.060109,0.330919,...,1.211900,0.910360,-1.555058,0.149891,1.466277,0.115172,0.853162,0.587283,0.442131,-0.091038
98,0.539002,1.282003,-1.023318,1.905679,-0.839147,1.025434,-1.663809,1.280217,0.401399,2.902964,...,-0.748285,-0.963052,0.103504,0.311597,0.899014,0.099926,-0.548970,-0.046887,-1.867753,0.005402
99,1.151261,0.472696,0.356989,-0.468862,-0.296073,2.211698,0.407838,0.415483,0.958924,-0.164693,...,-0.708794,0.409151,-0.033786,0.035134,0.555811,-0.346093,-1.671665,0.414849,-0.222663,-0.396319

In [100]:
## .loc --> index
## .iloc --> Columns


df.iloc[0:2, 3:6]

          3         4         5
0 -1.603644 -0.933890 -0.245013
1  0.392860  2.169864 -0.933146

In [101]:
df.loc[0:2, 3:6]

          3         4         5         6
0 -1.603644 -0.933890 -0.245013  0.448170
1  0.392860  2.169864 -0.933146  0.073333
2  0.775636 -1.565388 -2.116412  0.330345

In [102]:
a

{'key1': ['a', 'b', 'c', 'd', 'e', 'f'],
 'key2': [0, 1, 2, 3, 4, 5],
 'key3': ['A', 'B', 'C', 'D', 'E', 'F']}

In [103]:
df = pd.DataFrame(a)

In [104]:
df

  key1  key2 key3
0    a     0    A
1    b     1    B
2    c     2    C
3    d     3    D
4    e     4    E
5    f     5    F

In [106]:
df.iloc[0:3, 0:2]

  key1  key2
0    a     0
1    b     1
2    c     2

In [108]:
df.loc[0:2, ['key3', 'key2']]

  key3  key2
0    A     0
1    B     1
2    C     2

In [109]:
df

  key1  key2 key3
0    a     0    A
1    b     1    B
2    c     2    C
3    d     3    D
4    e     4    E
5    f     5    F

In [110]:
df.to_csv('df_from_sc.csv')